<script src="{{site.baseurl}}/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<!--<link rel="import" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">-->
<link rel="import" href="{{site.baseurl}}/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="import" href="{{site.baseurl}}/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="{{site.baseurl}}/bower_components/paper-button/paper-button.html">
<!--<link rel="import" href="../bower_components/paper-styles/demo-pages.html">-->
<link rel="import" href="{{site.baseurl}}/app/elements/pdf-reader.html">
<link rel="import" href="{{site.baseurl}}/app/elements/pdf-list.html">
<link rel="import" href="{{site.baseurl}}/app/elements/pdf-element.html">

<div class="center-align">
  <template is="dom-bind" id="app">
    <pdf-element></pdf-element>
  </template>
</div>
